@use '@styles/_mixins.scss';

.main {
  @include mixins.flex('vertical', $gap: 40px);
}

.logo {
  margin-bottom: 20px;
}

.createAccountTag {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}
