/* Color palette */
$color-white: #ffffff;
$color-primary: #169b45;
$color-primary-emphasis: #1ed760;
$color-blue: #1877f2;
$color-dark-gray: #333333;
$color-dark-black: #000000;
$color-font-gray: #6a6a6a;
$color-error: #e11414;
$color-warning: #e1a014;

:export {
  primaryColor: $color-primary;
  primaryColorEmphasis: $color-primary-emphasis;
  blueColor: $color-blue;
  darkGrayColor: $color-dark-gray;
  darkBlackColor: $color-dark-black;
  fontGrayColor: $color-font-gray;
  whiteColor: $color-white;
  errorColor: $color-error;
  warningColor: $color-warning;
}
